
		body{
background-color:gray;
color:#333;
font-family: Arial,Helvetica,san-serif;
font-size: 16px;
line-height: 1.6em;
margin: 0;
,margin-bottom: 10px;
width: auto;
		}
#header-new{
background-color: lightpink;
	padding:50px;
text-align: center;
	border: 50px  solid black;
	border-radius: 50px;
	border-color: white;
}
#header-about{
background-color: lightblue;
	padding:50px;
	text-align: center;
	border: 50px  solid black;
	border-radius: 50px;
	border-color: white;
}